body {
    background: #f0f0f0;
}

.row {
    align-items: center;
    vertical-align: middle;
    text-align: center;
    background-color: #25b99a;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 5px;
}

.row input#add {
    padding: 5px 5px 5px 18px;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    min-width: 60%;
}

.row span {
    color: #000;
}

.divider {
    text-align: center;
}

ul {
    list-style-type: none;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

ul > span{

}

li {
    font-size: 2rem;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25px;
    width: 90%;
    margin: 15px 5% 15px 5%;
    float: right;
    padding: 5px 10px;
    text-align: left;
}

li span{
    position: relative;
    top:4px;
}

.remove {
    width: 50px;
    height: 50px;
    float: left;
    background: none;
    position: relative;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.complete {
    width: 50px;
    height: 50px;
    float: left;
    background: none;
    position: relative;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
}

button.remove svg .fill {
    fill: #c0cecb;
}

button.remove:hover svg .fill {
    fill: #e85656;
}

button.complete svg .fill {
    fill: #25b99a;
}

button.complete:hover svg .fill {
    fill: #fff;
    background-color: #25b99a;
}

button.complete:hover svg .noFill {
    fill: #25b99a;
}

#completed button.complete svg .fill {
    fill: #fff;
}

#completed button.complete svg:hover .noFill {
    fill:#e85656;
    transition: fill 0.2s ease;
}

#completed button.complete svg .noFill {
    fill: #25b99a;
    border: 0;
}

#completed button.complete svg {
    border: 0;
}

#completed li span {
    text-decoration: line-through;
}

button svg .fill {
    transition: fill 0.2s ease;
}

button svg .fill {
    fill: #25b99a;
}

.noFill {
    fill: none;
}

button {
    border: 0;
    background-color: #ffffff;
}

button#add-button {
    position: inherit;
    border-radius: 15px;
    border: 11px solid #158978;
    color: #ffffff;
    background-color: #158978;
    display: inline;
}

button.complete {
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
}

svg {
    width: 22px;
    height: 22px;
    position: relative;
}

.complete svg {
    border-radius: 11px;
    border: 1px solid #25b99a;
    transition: background 0.2s ease;
}

#todo .complete:hover svg   {
border:0;
    transition: all 0.2s ease;
    fill:#25b99a;
}
.hidden {
    display: none;
}

#noTodo,
#noCompleted {
    padding: 10px;
}